@tailwind base;
@tailwind components;
@tailwind utilities;

.bold-header{
    font-weight: bold;
}

img{
    -webkit-user-drag: none;
}
  
.scaleAndShake {
    animation: scaleAndShake 3s ease-in-out infinite;
}

@keyframes scaleAndShake {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}